.card-container{
    width: 100%;
   min-height: 340px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 3px solid mediumblue;
   
}

.card-area{
    margin-right: 80px; 
    border-style: none;
    padding-right: 10px;
  
}
.card-title{
    color: blue;
    padding-left: 0px;
    font-size: 25px;
    font-weight: 900;
}
.img-card{
    width: 130px;
    height: 140px;
    padding-left: 25px;
}
@media screen and (max-width: 600px) {
    .card-area{
        margin-right: 0px; 
      
    }
}
