.des2{
    width: 100%;
    min-height: 300px;
    display: flex;
    background: #ABCD52;
}
.des2-contant{
    width: 60%;
    padding: 80px 200px;
}
.des2-contant h2{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 20px;
}
.des2-contant p{
    font-size: large;
    font-weight: 600;
}
.des2-button{
    padding: 80px;
}
.des2-button button{
    border-style: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width:860px) {
    .des2-contant{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 100px;
    }
    .des2-button{
        padding: 100px 10px;
    }
}
@media screen and (max-width:560px) {
    .des2-contant{
        width: 100%;
        box-sizing: border-box;
        padding: 30px 10px;
    }
    .des2-button{
        padding: 100px 0px;
        padding-right: 10px;
    }
    .des2-button button{

        padding: 8px 20px;
        font-size: 12px;
        font-weight: 600;
       
    }
    @media screen and (max-width:460px) {
        .des2-button{
            padding-top: 300px;
            padding-right: 10px;
            margin-left: -50%;
        }
    }
}